body {
    background-color: rgb(18, 90, 235);
    color: yellow;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    font-size: 50px;
}

h1{
    font-size: 30px;
}

p{
    font-size: 20px;
}